
* {
    padding: 0;
    margin: 0;
}

.bottom-about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-about {
    background-image: linear-gradient(to right, #0d6d0d, #258d2a, #1f9e13, #3cb400, #5eb600);
    width: 50%;
    height: 40%;
}
.about-bottom {
    position: absolute;
    top: 0;
    margin-left: 22rem;
    margin-top: 75rem;
}
.about-info {
    position: absolute;
    top: 2%;
    right: 0; 
    margin-right: 33rem;
}
.info {
    list-style-type: none;
}
.info a {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 3;
    color: white;
}   
.footer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28%;
    margin-top: 15rem;
}
.copyright-about {
    text-align: center;
    color: white;
}
.fa-facebook {
    color: white;
    font-size: 20px;
}
