
* {
    padding: 0;
    margin: 0;
}

.bottom-adjust-recipes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-adjust-recipes {
    background-image: linear-gradient(to right, #0d6d0d, #258d2a, #1f9e13, #3cb400, #5eb600);
    width: 50%;
    height: 40%;

}

.recipes-adjust-bottom {
    position: absolute;
    top: 0;
    margin-left: 22rem;
    margin-top: 50rem;

}

.more-info-recipes {
    position: absolute;
    top: 2%;
    right: 0; 
    margin-right: 33rem;

}

.all-recipes {
    list-style-type: none;
}

.all-recipes a {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 3;
    color: white;
   
}   

.footer-copyright-recipes {
    position: absolute;
    top: 0;
    right: 28%;
    margin-top: 15rem;
}

.copyright-recipes {
    text-align: center;
    color: white;
}

.fa-facebook {
    color: white;
    font-size: 20px;

}